<div class="flex items-center gap-1">
  {{ $authors := slice }}
  
  {{ if .Params.authors }}
    {{ $authors = .Params.authors }}
  {{ else if .Params.author }}
    {{ $authorStr := .Params.author }}
    {{ $authorNames := slice }}
    
    {{ if (findRE " & " $authorStr) }}
      {{ $authorNames = split $authorStr " & " }}
    {{ else if (findRE ", " $authorStr) }}
      {{ $authorNames = split $authorStr ", " }}
    {{ else if (findRE " и " $authorStr) }}
      {{ $authorNames = split $authorStr " и " }}
    {{ else }}
      {{ $authorNames = slice $authorStr }}
    {{ end }}
    
    {{ range $authorNames }}
      {{ $name := trim . " " }}
      {{ $authors = $authors | append (dict "name" $name) }}
    {{ end }}
  {{ end }}
  
  {{ if gt (len $authors) 0 }}
    {{ range $i, $author := $authors }}
      {{ if $i }}
        <span class="text-base-content/40 mx-0.5"></span>
      {{ end }}
      
      {{ if $author.avatar }}
        <div class="avatar mr-1">
          <div class="w-8 rounded-full">
            <img class="my-0!" src="{{ $author.avatar }}" alt="{{ $author.name }}" />
          </div>
        </div>
      {{ else if $.Params.avatar }}
        <div class="avatar mr-1">
          <div class="w-8 rounded-full">
            <img class="my-0!" src="{{ $.Params.avatar }}" alt="{{ $author.name }}" />
          </div>
        </div>
      {{ end }}
      
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        {{ $authorLink := $author.link | default $.Params.authorlink }}
        {{ if and $authorLink (eq $.template "single") }}
          <a itemprop="url" href="{{ $authorLink }}" target="_blank" rel="noopener noreferrer" class="hover:opacity-80 transition-colors no-underline">
            <span itemprop="name" class="whitespace-nowrap">{{ $author.name }}</span>
          </a>
        {{ else }}
          <span itemprop="name" class="whitespace-nowrap">{{ $author.name }}</span>
        {{ end }}
      </span>
    {{ end }}
  {{ end }}
</div>