{{ define "title" }}{{ .Title }}{{ end }}
{{ define "css" }}{{ end }}

{{ define "main" }}
<div class="lg:grid lg:grid-cols-4 gap-8 mt-4 px-4 container mx-auto">
  <aside class="hidden lg:block lg:col-span-1">
    {{ partial "post/sidebar-left.html" . }}
  </aside>

  <main class="lg:col-span-2">
    <article class="mx-auto prose prose-quoteless dark:prose-invert max-w-none" id="dream-single-post-main" itemscope itemtype="http://schema.org/Article">
      {{ template "_internal/schema.html" . }}

      {{ partial "post/header.html" . }}

      <section id="dream-single-post-content" itemprop="articleBody">
        {{ .Content | emojify }}
      </section>

      {{ if site.Params.showPrevNextPost }}
        {{ partial "post/prev-next.html" . }}
      {{ end }}
    </article>
  </main>

  <aside class="hidden lg:block lg:col-span-1">
    {{ partial "post/sidebar-right.html" . }}
  </aside>

</div>
{{ end }}

{{ define "js" }}
  {{ partial "post/scripts.html" . }}
{{ end }}