{{ define "main" }}
{{- $accent := partial "utils/accent.html" . -}}
<div class="cn-accent cn-a{{ $accent }} lg:grid lg:grid-cols-4 gap-8 mt-4 px-4 container mx-auto">

  <aside class="hidden lg:block lg:col-span-1">
    {{ if not .Params.hideLeftSidebar }}{{ partial "post/sidebar-left.html" . }}{{ end }}
  </aside>

  <main class="lg:col-span-2">
    <article class="mx-auto prose prose-quoteless dark:prose-invert max-w-none" id="post-main" itemscope itemtype="http://schema.org/Article">
      {{ template "_internal/schema.html" . }}

      {{ partial "post/header.html" . }}

      <section id="post-content" itemprop="articleBody">
        {{ .Content | emojify }}
      </section>

      {{ if site.Params.showPrevNextPost }}
        {{ partial "post/prev-next.html" . }}
      {{ end }}
    </article>
  </main>

  {{ if not .Params.hideTOC }}
  <aside class="hidden lg:block lg:col-span-1">
    {{ partial "post/sidebar-right.html" . }}
  </aside>
  {{ end }}

</div>
{{ end }}

{{ define "js" }}
  {{ partial "post/scripts.html" . }}
  {{ partial "post/ai-widget.html" . }}
{{ end }}
