<div>
  {{ if site.Params.siteStartYear }}
  <p class="text-sm text-base-content/70">
    © {{ if eq now.Year site.Params.siteStartYear }}{{ now.Year }}{{ else }}{{ site.Params.siteStartYear }} - {{ now.Year }}{{ end }} {{ site.Title }}
  </p>
  {{ else }}
  <p class="flex flex-wrap items-center justify-center md:justify-start gap-x-1.5 gap-y-1 text-sm font-medium">
    <span class="text-base-content/60">made by</span>
    
    <a href="https://github.com/notakeith" class="whitespace-nowrap hover:text-[#38A11B] transition-colors no-underline hover:underline underline-offset-4">
      notakeith
    </a>
    
    <span class="text-base-content/60">&</span>
    
    <a href="https://github.com/salt-caramel" class="whitespace-nowrap hover:text-[#38A11B] transition-colors no-underline hover:underline underline-offset-4">
      salt-caramel
    </a>
  </p>
  {{ end }}

  {{ if site.Params.footerBottomText }}
  <p class="mt-2 text-sm text-base-content/60">{{ site.Params.footerBottomText | safeHTML }}</p>
  {{ end }}
</div>