{{ define "main"}}

{{ $paginator := .Paginate (where site.RegularPages "Type" "posts") }}

{{ if site.Params.zenMode }}
<div class="dream-zen-posts max-w-[65ch] mt-8 mx-auto px-4 space-y-8">
{{ range $paginator.Pages }}
  {{ .Render "zen-summary" }}
{{ end }}
</div>
{{ else }}
<!-- <div class="container tagcloud" style="padding: 0 16px;">
{{ if ne (len $.Site.Taxonomies.tags) 0 }}
    {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
      {{ $tagCount := len $taxonomy.Pages }}
        <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}" 
        class="badge h-6 no-underline hover:badge-primary" style="font-size: 1rem;">
          {{ $name }}<sup style="font-size: x-small">{{ $tagCount }}</sup>
        </a>
    {{ end }}
{{ end }}
</div> -->
<div class="dream-grid opacity-0">
  {{ range $paginator.Pages }}
    <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4 dream-column">
      {{ .Render "summary" }}
    </div>
  {{ end }}
</div>
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
<div class="flex justify-center mt-8">
  {{ partial "paginator.html" (dict "paginator" $paginator) }}
</div>
{{ end }}

{{ end }}

{{ define "js" }}

{{ if site.Params.Experimental.jsDate }}
{{ partial "luxon.html" . }}
{{ end }}

{{ end }}
